
		body {
			background-image: url("https://github.com/LyzaYu/CS3-Lyza/blob/main/Fauna/bg.jpg?raw=true");
			margin: 0;
		}
		#logo {
			float: left;
			margin: 10px;
			width: 100px;
			height: 50px; 
		}
		#menu {
			text-align: center;
			display: flex;
			background-color: rgb(112, 130, 70, 0.70);
			flex-direction: row;
			margin: 0;
		}
		#menu > .page {
			padding: 10px;
			margin-top: 15px;
			margin-bottom: 10px;
		}
		#menu .page a {
			background-color: rgb(110, 120, 80);
			text-decoration: none;
			color: white;
			font-size: 20px;
			font-family: arial;
			text-shadow: 0px 1px 2px black;
			border-top: 2px solid white;
			border-bottom: 2px solid white;
			border-left: 2px solid rgb(110, 120, 80);
			border-right: 2px solid rgb(110, 120, 80);
			padding: 10px 40px;
			transition-duration: 0.4s;
		}
		#menu .page a:hover{
			background-color: rgb(243, 229, 160);
			border: 2px solid black;
			text-shadow: 1px 2px 7px black;
			border-radius: 25px;
		}
		#menu .page a:active{
			box-shadow: 0px 2px 4px black;
		}
		.tohover .hovertext {
			visibility: hidden;
			width: 230px;
			background-color: black;
			color: white;
			text-align: center;
			border-radius: 6px;
			padding: 5px 0;
			position: absolute;
			z-index: 1;
		}	
		.tohover:hover .hovertext {
			visibility: visible;
		}
		.hovertext a{
			font-size:19px;
			text-decoration: none;
			color: white;
			display: flex;
			flex-direction: row;
		}
		.hovertext a:hover {
			color: purple;
			text-decoration: underline;
		}
		.tohover a .sprite1{
			background: url("https://icon-library.com/images/icon-sprite/icon-sprite-16.jpg") no-repeat -61px -111px;
			width: 27px;
			height: 27px;
			margin: 0px 5px;
		}
		.tohover a .sprite2{
			background: url("https://icon-library.com/images/icon-sprite/icon-sprite-16.jpg") no-repeat -10px -260px;
			width: 27px;
			height: 27px;
			margin: 0px 5px;
		}
		.tohover a div{
				transition: transform 0.2s;
		}
		.tohover a div:hover{
			transform: scale(1.1);
		}
		.search {
			margin-left: 20%;
		}
		.search input[type=text]{
			background-color: rgb(110, 120, 80);
			color: white;
			border: 2px solid white;
			font-size: 18px;
			font-family: arial;
			text-align: left;
			margin-right: 10px;
			margin-top:20px;
			text-shadow: 0px 1px 2px black;
			width: 200px;
		}	
		.glass{
			margin: 20px 5px;
			width: 30px;
			height: 30px
		}
		#texts{
			float:left;
			display: flex;
			flex-direction: column;
		}
		header {
			margin-top: 40px;
			margin-left: 30px;
			font-family: times;
			font-weight: bold;
			font-size: 80px;
			text-shadow: 0px 0px 2px black;
			width: 600px;
			height: 190px;
			border-top: 3px solid black;
			border-bottom: 3px solid black;
		}
		#texts h3 {
			width: 540px;
			margin-left: 30px;
			margin-top: 50px;
			font-family: system;
		}
		.scrollsource{
			font-size: 15px;
			color: black;
		}
		aside {
			margin-left: 52%;
			width: 47%;
			height: 100%;
			display: flex;
			flex-direction: column;
			background-color: rgb(243, 229, 160, 0.50);
		}
		#animals {
			margin-left: 0.8%;
			width: 100%;
			height: 100%;
		}
		#animals img{
			width: 31%;
			transition: transform 0.2s;
			padding-left:1%;
			padding-top: 0.55%;
		}
		#animals img:hover{
			transform: scale(1.1);
		}
		.source{
			position: relative;
		}
		.source .hoversource {
			visibility: hidden;
			width: 150px;
			background-color: white;
			color: black;
			text-align: center;
			border-radius: 6px;
			padding: 5px 0;
			margin-top:150px;
			position: absolute;
			z-index: 1;
		}	
		.source:hover .hoversource {
			visibility: visible;
		}
		.content {
			width: 90%;
			height: 100%;
			background-color: rgb(243, 229, 160, 0.80);
			display: flex;
			flex-direction: column;
			margin-left: 5%;
		}
		.content #col1{
			display: flex;
			flex-direction: row;
		}
		.content #col2{
			display: flex;
			flex-direction: row;
		}
		
		#sourcelogo{
			margin-top: 150px;
			margin-left: 10px;
			width: 60px;
			height: 60px;
			transition-duration: 0.4s;
		}
		#title{
			font-family: times;
			padding: 5px;
			margin-left: 15px;
			text-shadow: 0px 1px 2px black;
		}
		.jaguarPic {
			width: 30%;
			height: 175px;
			margin-left:15px;
			border: 2px solid black;
			padding:5px;
			transition: transform 0.2s;
		}
		.jaguarPic:hover {
			transform: scale(1.2);
		}
		.bulletlist {
			font-family: times;
			font-size: 15px;
			width: 250px;
		}
		.description {
			display: inline;
			width: 70%;
			margin-left: 20px;
			font-family: times;
			font-size: 15px;
			padding: none;
		}
		
		.vidtitle{
			margin-left: 50px;
			text-decoration: none;
			color: black;
			font: times;
		}
		.thumbnail{
			margin-top: 3px;
			margin-left: 30px;
			width: 280px;
			height: 160px;
			border-left: 2px solid black;
			border-right: 2px solid black;
			padding:2px;

		}
		.content .groupimage {
			margin-top: 30px;
			margin-left: 20px;
			border: 2px solid black;
			padding:4px;
			width: 405px;
			height: 295px;
		}
		.groupimage img{
			transition: transform 0.2s;
		}
		.groupimage img:hover{
			transform: scale(1.1)
		}
		.content .factlist {
			font-family: times;
			font-size: 15px;
			
		}
		
		.content h3 {
			margin-left: 25px;
			border-bottom: 1px solid black;
			width: 400px;
		}
		.content .facts{
			text-align: left;
			margin-left: 10px;
			float: left;
			padding: 5px;
			width: 440px;
			margin-right: 20px;
			height: 320px;
		}
		
		table{
			width: 60%;

			margin-top: 25px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
			background-color: rgb(243, 229, 160, 0.80);
			padding: 20px;
		}
		#listtable{
			overflow-y: scroll;
			height: 500px;
		}
		th{
			font-weight: bold;
			font-size: 20px;
			height: 30px;
			vertical-align: middle;
		}
		td{
			padding-top: 15px;
			text-align: center;
		}
		td a{
			text-decoration: none;
			color: black;
		}
		td:first-child{
			width: 16%;
			background-color: rgb(101, 67, 33, 0.7);
		}
		td:nth-child(2):hover{
			transform: scale(1.2);
		}
		tr:nth-of-type(odd){
			background-color: rgb(110, 120, 80, 0.8);
		}
		th:nth-child(1){
			background-color: brown;
		}
		th:nth-child(2){
			background-color: rgb(110, 120, 80);
		}
		th:nth-child(3){
			background-color: rgb(270, 300, 110);
		}
		
		.feedcontent .sector{
			width: 90%;
			background-color: rgb(243, 229, 160, 0.85);
			display: flex;
			flex-direction: row;
			margin-left: 4%;
			margin-top: 40px;
			padding: 1%
		}
		
		.feedcontent .bio{
			display: flex;
			flex-direction: column;
			margin-left:3%;
			width: 50%;
			font-family: times;
			font-size: 20px;
		}
		.feedcontent #vidtitle{
			width: 80%;
			font-size: 25px;
			padding-bottom:30px;
			border-bottom: 2px solid black;
		}
		#newstitle{
			margin: 15px 5%;
			text-align: center;
		}
		.news1 {
			width: 40%;
			background-color: rgb(243, 229, 160, 0.85);
		    float: left;
			margin: 15px 15px;
			padding: 1% 1%;
			transition: transform 0.2s;
		}
	
		.news1 img {
			margin-left: 5%;
			height: 60%;
			width: 90%;
		}
		
		

