	    body {
                 background-image: url("https://wallpapers.com/images/hd/studio-ghibli-howl-s-moving-castle-j40hqc63s09xvdtw.jpg");
                 background-repeat: no-repeat;
                 background-position: center;
		 background-size: 768px 432px;
             }
             h1 {
		 background-color: #708238;
                 text-align: center;
		 font-family: times;
                 border: 2px dotted blue;
                 padding: 10px 15px;
                 width: 250px;        
		 margin-bottom: 20px;				 
             }
             p {
                 background-color: hsl( 215, 51%, 70%);
                 text-align: justify;
                 padding: 20px;
		 border-style: solid dotted double dashed;
                 width: 500px;
             }
             span {
                 color: rgb(39, 22, 223);
		 margin-left: 2px;
		 margin-right: 5px;
             }
